<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Контракты</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="all" class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span>  Архив</a>
</div>
<div class="col-md-10">
  <% if @cons.length == 0 %>
    <h3>Архив пуст. Завершенных конрактов нет.</h3>
  <% else %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Название</th>
        <th>Название организации</th>
        <th>Дата окончания</th>
        <th>Статус</th>
        <th>Цена</th>
        <th>Подробнее</th>
      </tr>
      </thead>
      <% @cons.each do |f| %>
        <tr>
          <td><%= f.name %></td>
          <td><%= Org.where(id: f.org_id).first.small_name %></td>
          <td><%= f.end_date %></td>
          <td>Завершен</td>
          <td><%= f.price %></td>
          <td>
            <%= link_to f do %>
              <span class="glyphicon glyphicon-cog"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>