<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Организации</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="dump" class="list-group-item"><span class="glyphicon glyphicon-trash"></span>  Удаленные</a>
</div>
<div class="col-md-10">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Наименнование</th>
        <th>Тип</th>
        <th>Сокращенное название</th>
        <% if current_user.admin == true %>
          <th>Создано</th>
          <th>Последнее обновление</th>
        <% end %>
        <th>Подробнее</th>
      </tr>
      </thead>
      <% @orgs.each do |f| %>
        <tr>
          <td><%= f.name %></td>
          <td><%= f.typ %></td>
          <td><%= f.small_name %></td>
          <% if current_user.admin == true %>
            <td><%= f.created_by + '; ' + f.created_at.to_s %></td>
            <td><%= f.last_cb + '; ' + f.updated_at.to_s %></td>
          <% end %>
          <td>
            <%= link_to f do %>
              <span class="glyphicon glyphicon-cog"></span>
            <%end%>
          </td>
        </tr>
      <% end %>
    </table>
</div>