<div class="list-group col-md-2 person-md">
  <a href="main" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  Организации</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="dump" class="list-group-item"><span class="glyphicon glyphicon-trash"></span>  Удаленные</a>
</div>
<div class="col-md-10">
  <div class="form-horizontal">
    <div class="form-group col-sm-8">
      <%= label :name, 'Название', class: 'col-sm-3 control-label'%>
      <div class="col-sm-9">
        <%= label :name, @org.name,  class: 'form-control'%>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <%= label :code, 'Код', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :code, @org.code, class: 'form-control'%>
      </div>
    </div>
    <h3 class="col-sm-offset-2">Основное</h3>
    <div class="form-group">
      <%= label :person, 'Юр./Физ. лицо', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :person, @org.person, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label :typ, 'Тип организации', class: 'col-sm-2 control-label'%>
      <div class="col-sm-4">
        <%= label :typ, @org.typ, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label :full_name, 'Полное название', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :full_name, @org.full_name, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label :small_name, 'Сокращенное название', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :small_name, @org.small_name, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label :usedge, 'Использовать', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :usedge, @org.usedge, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label :account, 'Основной банковский счет', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :account, @org.account, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label :u_address, 'Юридический адрес', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :u_address, @org.u_address, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <%= label :f_address, 'Фактический адрес', class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
        <%= label :f_address, @org.f_address, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <%= label :square, 'Площадь', class: 'col-sm-7 control-label'%>
      <div class="input-group col-sm-5">
        <%= label :square, "#{@org.square}м2", class: 'form-control'%>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <%= label :people, 'Кол-во сотрудников', class: 'col-sm-6 control-label'%>
      <div class="col-sm-6">
        <%= label :people, @org.people, class: 'form-control'%>
        <%=  %>
      </div>
    </div>
    <div class="form-group col-sm-5">
      <%= label :space_fp, 'Кол-во посадочных мест', class: 'col-sm-6 control-label'%>
      <div class="col-sm-6">
        <%= label :space_fp, @org.space_fp, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= link_to orgs_edit_path(id: @org), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-cog"></span>
          Редактировать
        <% end %>
        <%= link_to @org, method: :delete, data: { confirm: 'Вы уверены?'}, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-trash"></span>
          Удалить
        <% end %>
      </div>
    </div>
  </div>
</div>
