<h2 class="col-sm-offset-2 col-sm-10">Вход</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="field">
        <%= f.label :email, 'Email', class: 'col-sm-2 control-label' %><br />
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',  placeholder: 'Email' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :password, 'Пароль', class: 'col-sm-2 control-label' %><br />
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control',  placeholder: 'Пароль' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, 'Запомнить' %>
          </div>
        <% end -%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="actions">
          <%= f.submit "Вход",  class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
