<div class="list-group col-md-2 person-md">
  <a href="plan_each" class="list-group-item"><span class="glyphicon glyphicon-home"></span>  План / Факт</a>
  <a href="new" class="list-group-item"><span class="glyphicon glyphicon-plus"></span>  Добавить</a>
  <a href="view" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>  Просмотр и редактирование</a>
  <a href="services_each" class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span>  Расход по услугам</a>
</div>
<div class="col-md-10">
  <h3>Анализ по всем контрактам</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Всего контрактов</th>
      <th>Сумма по плану (руб.)</th>
      <th>Сумма по факту (руб.)</th>
    </tr>
    </thead>
      <tr>
        <td><%= @con.length %></td>
        <td><%= @p %></td>
        <td><%= @f %></td>
      </tr>
  </table>
  <h3>Анализ по каждому контракту</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Контракт</th>
      <th>Сумма по контракту (руб.)</th>
      <th>Сумма по факту (руб.)</th>
      <th>Число платежей</th>
      <th>Подробнее о контракте</th>
    </tr>
    </thead>
    <% @con.each do |f| %>
      <tr>
        <% s = f.price.to_s + ' + ' + f.price_nds.to_s + '(НДС) = ' + (f.price + f. price_nds).to_f.to_s %>
        <td><%= f.name %></td>
        <td><%= s %></td>
        <td>
          <% if Payment.where(contract_id: f.id, month: @date).first.nil? %>
            0
          <% else %>
            <%= Payment.where(contract_id: f.id, month: @date).sum(:summ) %>
          <% end %>
        </td>
        <td><%= Payment.where(contract_id: f.id, month: @date).count %></td>
        <td>
          <%= link_to f do %>
            <span class="glyphicon glyphicon-cog"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>