<!DOCTYPE html>
<html>
  <head>
    <title>Жилищник</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/main/index">Главная<span class="sr-only">(current)</span></a></li>
            <li><a href="/org/main">Организации</a></li>
            <li><a href="/contragents/main">Контрагенты</a></li>
            <li><a href="/contracts/main">Контракты</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Выйти</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="col-md-10">
      <%= yield %>
    </div>
  <div class="list-group col-md-2 person-md">
    <a href="#" class="list-group-item"><span class="badge">14</span>Здесь будут подходящие к концу контракты (или что-то другое, если хотите ;) Например, можно вставить самые посещаемые страницы)</a>
  </div>
  </body>
</html>
