<!DOCTYPE html>
<html>
  <head>
    <title>Жилищник</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if current_page?(main_index_path) %>
              <li class="active"><a href="/main/index">Главная<span class="sr-only">(current)</span></a></li>
            <% else %>
              <li><a href="/main/index">Главная<span class="sr-only">(current)</span></a></li>
            <% end %>
            <% if current_page?(orgs_main_path) %>
              <li class="active"><a href="/orgs/main">Организации<span class="sr-only">(current)</span></a></li>
            <% else %>
              <li><a href="/orgs/main">Организации</a></li>
            <% end %>
            <% if current_page?(contragents_main_path) %>
              <li class="active"><a href="/contragents/main">Контрагенты</a></li>
            <% else %>
              <li><a href="/contragents/main">Контрагенты</a></li>
            <% end %>
            <% if current_page?(contracts_main_path) %>
              <li class="active"><a href="/contracts/main">Контракты</a></li>
            <% else %>
              <li><a href="/contracts/main">Контракты</a></li>
            <% end %>
            <% if current_page?(payments_view_path) %>
              <li class="active"><a href="/payments/view">Счет</a></li>
            <% else %>
              <li><a href="/payments/view">Счет</a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Выйти</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="col-md-10">
      <%= yield %>
    </div>
    <div class="list-group col-md-2 person-md">
      <% if @conn.length == 0 %>
        <p>Завершающихся контрактов нет</p>
      <% else %>
        <% @conn.each do |f| %>
          <%= link_to contracts_main_path, class: "list-group-item" do %>
            <span class="badge"><%= f.end_date %></span>
            <%= f.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
